{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
  // "plugins": [
  //   "syntax-class-properties",
  //   "transform-class-properties",
  //   "@babel/plugin-proposal-class-properties"
  // ]
}